{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Golang Website | First Web</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="header">Header Ada Di Sini</div>
    {{ template "main" .}}
    <div class="footer">Footer Ada Di Sini</div>
  </body>
</html>
{{ end }}
