body {
    font-family: Arial, Helvetica, sans-serif;
}

.box-with-shadow{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #8888;
    margin-bottom: 30px;
}

.header {
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    color: black;
}

.text {
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    color: blue;
}

.footer {
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    color: black;
}